
body {
	background-image: url("background-left.png");
}

@font-face {
	font-family: 'SegoeUI';
	src: url(../../assets/fonts/segoeui.WOFF);
	font-weight: normal;
}

@font-face {
	font-family: 'SegoeUI';
	src: url(../../assets/fonts/segoeui_bold.WOFF);
	font-weight: bold;
}

#FacebookExchange {
	background-image: url(facebook-colored.svg);
}

#FacebookExchange:hover {
	background-image: url(facebook-white.svg);
}

.buttons #cancel:before {
	content: url(../../assets/images/left-arrow.svg);
}