body, html {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.background {
    background-image: url("https://storageaccountleung9918.blob.core.windows.net/jleung-blob/background-right.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
